<h4>Post details:</h4>
<br />
<p>
	<%= @row['post'] %>
	<br /><br />
	<span style="font-size: 75%; color: #999"><%= @row['username'] %> wrote <%= @row['created_date'] %></span>
</p>
<br />
<hr />
<h4>Comments:</h4>
<br />
<% @comments.each do |comments| %>
	<p>
		<%= comments['comment'] %>
		<br />
		<span style="font-size: 75%; color: #999"><%= comments['username'] %> wrote <%= comments['created_date'] %></span>
	</p>
<% end %>
<br />
<p>
	<form action="/post/<%= @row['id'] %>" method="POST" role="form">
		<input name="username" type="text" class="form-control" style="width: 600px" placeholder="Enter username" value="<%= @username %>">
		<br />
		<textarea name="comment" class="form-control" rows="6" style="width: 600px" placeholder="Type comment text here"><%= @comment %></textarea>
		<br />
		<button type="submit" class="btn btn-primary">Add comment</button>
	</form>
</p>
